@page "/function"
@using BlazorApp.Shared
@inject HttpClient Http

<h1>Function Call</h1>

@if (string.IsNullOrEmpty(message))
{
    <p>Loading...</p>
}
else
{
    <p>Function response: @message</p>
}

@code {
    private string message;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            message = await Http.GetStringAsync("https://azfun-cumulonimbus-blazorfunction.azurewebsites.net/api/blazortrigger?name=blazorwebapp");
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }
}
